extends ../pug/layout.pug

block content
  h1.visually-hidden Тестовое задание на позицию 'контент-менеджер' в LF-Academy
  section.partners
    h2.partners__title Партнёры

    ul.partners__list
        li.partners__item
          a.partners__link(href='#popup-gazprom')
            img.partners__logo(src='img/gazprombank_rus.png', alt='Газпромбанк')
          .partners__popup.mfp-hide#popup-gazprom
            a.partners__popup-logo(href='#', target='_blank')
              img(src='img/gazprombank_rus.png', alt='Газпромбанк')
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt alias vitae officia ex totam. Ex consequuntur, fuga illo perspiciatis quam eum nam, accusamus quae expedita, iusto inventore corporis! Enim omnis earum aut accusamus voluptatibus officia, vel nesciunt eos pariatur. Sequi, debitis ab asperiores sit voluptatum veritatis fugiat ipsam blanditiis in?
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque nemo sunt dolor repellendus incidunt, exercitationem harum impedit laborum autem nobis tempore deleniti dolore vitae. Ex officiis quae, aliquam eos!
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo reprehenderit commodi nostrum dolorem est, voluptatum illum a, consequuntur aliquam obcaecati.
            a.partners__popup-link(href='#', target='_blank') www.website.com
        li.partners__item
          a.partners__link(href='#popup-hogan-lovells')
            img.partners__logo(src='img/hogan_lovells.jpg', alt='Hogan Lovells')
          .partners__popup.mfp-hide#popup-hogan-lovells
            a.partners__popup-logo(href='#', target='_blank')
              img(src='img/hogan_lovells.jpg', alt='Hogan Lovells')
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt alias vitae officia ex totam. Ex consequuntur, fuga illo perspiciatis quam eum nam, accusamus quae expedita, iusto inventore corporis! Enim omnis earum aut accusamus voluptatibus officia, vel nesciunt eos pariatur. Sequi, debitis ab asperiores sit voluptatum veritatis fugiat ipsam blanditiis in?
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque nemo sunt dolor repellendus incidunt, exercitationem harum impedit laborum autem nobis tempore deleniti dolore vitae. Ex officiis quae, aliquam eos!
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo reprehenderit commodi nostrum dolorem est, voluptatum illum a, consequuntur aliquam obcaecati.
            a.partners__popup-link(href='#', target='_blank') www.website.com
        li.partners__item
          a.partners__link(href='#popup-kommersant')
            img.partners__logo(src='img/kommersant_new.png', alt='Комменрсантъ')
          .partners__popup.mfp-hide#popup-kommersant
            a.partners__popup-logo(href='#', target='_blank')
              img(src='img/kommersant_new.png', alt='Комменрсантъ')
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt alias vitae officia ex totam. Ex consequuntur, fuga illo perspiciatis quam eum nam, accusamus quae expedita, iusto inventore corporis! Enim omnis earum aut accusamus voluptatibus officia, vel nesciunt eos pariatur. Sequi, debitis ab asperiores sit voluptatum veritatis fugiat ipsam blanditiis in?
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque nemo sunt dolor repellendus incidunt, exercitationem harum impedit laborum autem nobis tempore deleniti dolore vitae. Ex officiis quae, aliquam eos!
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo reprehenderit commodi nostrum dolorem est, voluptatum illum a, consequuntur aliquam obcaecati.
            a.partners__popup-link(href='#', target='_blank') www.website.com
        li.partners__item
          a.partners__link(href='#popup-epap')
            img.partners__logo(src='img/logo_ru_epap.png', alt='Адвокатское бюро "Егоров, Пугинский, Афанасьев и партнёры"')
          .partners__popup.mfp-hide#popup-epap
            a.partners__popup-logo(href='#', target='_blank')
              img(src='img/logo_ru_epap.png', alt='Адвокатское бюро "Егоров, Пугинский, Афанасьев и партнёры"')
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt alias vitae officia ex totam. Ex consequuntur, fuga illo perspiciatis quam eum nam, accusamus quae expedita, iusto inventore corporis! Enim omnis earum aut accusamus voluptatibus officia, vel nesciunt eos pariatur. Sequi, debitis ab asperiores sit voluptatum veritatis fugiat ipsam blanditiis in?
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque nemo sunt dolor repellendus incidunt, exercitationem harum impedit laborum autem nobis tempore deleniti dolore vitae. Ex officiis quae, aliquam eos!
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo reprehenderit commodi nostrum dolorem est, voluptatum illum a, consequuntur aliquam obcaecati.
            a.partners__popup-link(href='#', target='_blank') www.website.com
        li.partners__item
          a.partners__link(href='#popup-spbcci')
            img.partners__logo(src='img/logo_spbcci.png', alt='Торгово-промышленная палата Российской Федерации')
          .partners__popup.mfp-hide#popup-spbcci
            a.partners__popup-logo(href='#', target='_blank')
              img(src='img/logo_spbcci.png', alt='Торгово-промышленная палата Российской Федерации')
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt alias vitae officia ex totam. Ex consequuntur, fuga illo perspiciatis quam eum nam, accusamus quae expedita, iusto inventore corporis! Enim omnis earum aut accusamus voluptatibus officia, vel nesciunt eos pariatur. Sequi, debitis ab asperiores sit voluptatum veritatis fugiat ipsam blanditiis in?
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque nemo sunt dolor repellendus incidunt, exercitationem harum impedit laborum autem nobis tempore deleniti dolore vitae. Ex officiis quae, aliquam eos!
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo reprehenderit commodi nostrum dolorem est, voluptatum illum a, consequuntur aliquam obcaecati.
            a.partners__popup-link(href='#', target='_blank') www.website.com
        li.partners__item
          a.partners__link(href='#popup-min-just')
            img.partners__logo(src='img/MinJust.png', alt='Министерство юстиции Российской Федерации')
          .partners__popup.mfp-hide#popup-min-just
            a.partners__popup-logo(href='#', target='_blank')
              img(src='img/MinJust.png', alt='Министерство юстиции Российской Федерации')
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt alias vitae officia ex totam. Ex consequuntur, fuga illo perspiciatis quam eum nam, accusamus quae expedita, iusto inventore corporis! Enim omnis earum aut accusamus voluptatibus officia, vel nesciunt eos pariatur. Sequi, debitis ab asperiores sit voluptatum veritatis fugiat ipsam blanditiis in?
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque nemo sunt dolor repellendus incidunt, exercitationem harum impedit laborum autem nobis tempore deleniti dolore vitae. Ex officiis quae, aliquam eos!
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo reprehenderit commodi nostrum dolorem est, voluptatum illum a, consequuntur aliquam obcaecati.
            a.partners__popup-link(href='#', target='_blank') www.website.com
        li.partners__item
          a.partners__link(href='#popup-pen-paper')
            img.partners__logo(src='img/pen-paper-2016.png', alt='Pen and Paper')
          .partners__popup.mfp-hide#popup-pen-paper
            a.partners__popup-logo(href='#', target='_blank')
              img(src='img/pen-paper-2016.png', alt='Pen and Paper')
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt alias vitae officia ex totam. Ex consequuntur, fuga illo perspiciatis quam eum nam, accusamus quae expedita, iusto inventore corporis! Enim omnis earum aut accusamus voluptatibus officia, vel nesciunt eos pariatur. Sequi, debitis ab asperiores sit voluptatum veritatis fugiat ipsam blanditiis in?
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque nemo sunt dolor repellendus incidunt, exercitationem harum impedit laborum autem nobis tempore deleniti dolore vitae. Ex officiis quae, aliquam eos!
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo reprehenderit commodi nostrum dolorem est, voluptatum illum a, consequuntur aliquam obcaecati.
            a.partners__popup-link(href='#', target='_blank') www.website.com
        li.partners__item
          a.partners__link(href='#popup-sk-bureau')
            img.partners__logo(src='img/SKBuro_ru.png', alt='Адвокатское бюро "S&K Вертикаль"')
          .partners__popup.mfp-hide#popup-sk-bureau
            a.partners__popup-logo(href='#', target='_blank')
              img(src='img/SKBuro_ru.png', alt='Адвокатское бюро "S&K Вертикаль"')
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt alias vitae officia ex totam. Ex consequuntur, fuga illo perspiciatis quam eum nam, accusamus quae expedita, iusto inventore corporis! Enim omnis earum aut accusamus voluptatibus officia, vel nesciunt eos pariatur. Sequi, debitis ab asperiores sit voluptatum veritatis fugiat ipsam blanditiis in?
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque nemo sunt dolor repellendus incidunt, exercitationem harum impedit laborum autem nobis tempore deleniti dolore vitae. Ex officiis quae, aliquam eos!
            p.partners__popup-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo reprehenderit commodi nostrum dolorem est, voluptatum illum a, consequuntur aliquam obcaecati.
            a.partners__popup-link(href='#', target='_blank') www.website.com
